*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ada8ac;
    color: #000;
}

.container {
    margin: 5px;
    border: 2px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
}

.contenedor-principal {
    display: flex;
    padding: 20px;
}

.informacion-lateral {
    width: 30vw;
    background: linear-gradient(to right, #a8d5e2 90%, #fff 1%);
    justify-content: center;
    padding: 20px;
}

.informacion-lateral img{
    width: 15vw;
}

.contacts a{
    text-decoration: none;
    width: 15vw;
}

.contacts h3{
    font-size: 1rem;
}

.contacts a{
    font-size: 1rem;
}

.date p{
    width: 25vw;
}

.idiomas{
    font-size: 1rem;
    width: 10vw;
}

.idiomas h3{
    font-size: 1rem;
}

.tipo-contacto a{
    
    font-size: 1rem;
    width: 10vw;
}

.idiomas li{
    width: 5vw;
    margin-left: 10px;
}

.informacion-general {
    flex-grow: 1;
    padding: 20px;
}

.habilidades-tecnicas li{
    width: 25vw;
    margin-left: 10px;
}

.habilidades-tecnicas span{
    font-size: 1rem;
}

.habilidades-blandas li{
    width: vw;
    margin-left: 10px;
}

.habilidades-blandas span{
    font-size: 1rem;
}

.proyectos li{
    width: 20vw;
    margin-left: 10px;
}

.nombre, .descripcion-profesion {
    margin-bottom: 10px;
}

.nombre {
    font-weight: 700;
    font-size: 1rem;
}

.descripcion-profesion {
    font-size: 20px;
    font-weight: 700;
}

.titulo-seccion-principal {
    font-weight: 700;
    margin: 20px 0 10px;
    font-size: 22px;
}

.proyectos {
    width: 25vw;
}


.enlace-proyectos {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #0C58B2;
    text-decoration: none;
}

.puesto-empresa, .periodo-experiencia, .titulo-educacion, .lista-educacion div, .periodo-experiencia {
    font-weight: 700;
    font-size: 1rem;
    margin: 15px 0 5px;
}

.periodo-experiencia {
    font-size: 1rem;
    color: #6C40C4;
}

.experiencia-laboral{
    width: 20vw;
    margin-left: 10px;
}

.experiencia-laboral h3{
    font-size: 1rem;
}

.experiencia-laboral span{

    font-size: 1rem;
}
@media (min-width: 768px) {
    .contenedor-principal {
        flex-direction: row; /* Vuelve a la dirección de fila para dispositivos más grandes */
    }

    .informacion-lateral {
        width: 30%; /* Ajusta el ancho para que ocupe el 30% del contenedor principal */
        margin-right: 20px; /* Margen derecho añadido para separar de la información general */
        text-align: left; /* Alineación de texto izquierda para dispositivos más grandes */
    }

    .informacion-general {
        flex-grow: 1; /* Asegura que la información general ocupe el espacio restante */
        margin-left: 20px; /* Añade un margen izquierdo para separar del lateral */
    }

    .idiomas {
        width: 20%; /* Ajusta el ancho para dispositivos más grandes */
    }

    .habilidades-tecnicas,
    .habilidades-blandas,
    .proyectos,
    .date,
    .experiencia-laboral {
        width: 40%; /* Ajusta el ancho para dispositivos más grandes */
    }
}